<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/code.css">
</head>

<body>

    <div id="createModal" class="modal">
        <div class="modal-card">
            <span class="close" onclick="closeModal('createModal')">✕</span>
            <h3>Crear Espacio</h3>

            <input placeholder="Nombre del Espacio">
            <button class="main-btn" onclick="crearEspacio()">Crear Espacio</button>
        </div>
    </div>
    <script></script>
    <script></script>
</body>

</html>