<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../styles/code.css">
</head>

<body>

    <div id="joinModal" class="modal">
        <div class="modal-card">
            <span class="close" onclick="closeModal('joinModal')">✕</span>

            <h3>Unirse a Espacio</h3>

            <input placeholder="CÓDIGO DE INVITACIÓN">
            <button onclick="unirseEspacio()">Unirse a Espacio</button>
        </div>
    </div>
    <script src="../../services/app.js"></script>
    <script src="../../pages/auth/auth.js"></script>

</body>

</html>