<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Inputs</title>

  <!-- GLOBAL -->
  <link rel="stylesheet" href="../../styles/global.css">

  <!-- BUTTONS -->
  <link rel="stylesheet" href="./inputs.css">

</head>

<body>
    <!-- INPUT DE TEXTO -->
    <ui-input
        label="Label"
        placeholder="Placeholder">
    </ui-input>
    
    <!-- INPUT DE CONTRASEÑA -->
    <ui-input
        type="password"
        label="Label"
        placeholder="Placeholder">
    </ui-input>
    
    <!-- INPUT DE CORREO -->
    <ui-input
        type="email"
        label="Label"
        placeholder="Placeholder">
    </ui-input>
    
    <!-- INPUT DE NÚMERO -->
    <ui-input
        type="number"
        label="Label"
        placeholder="Placeholder">
    </ui-input>
    
    <!-- JS -->
    <script type="module" src="./inputs.js"></script>
</body>
</html>