.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.auth-card {
    background: #1e293b;
    padding: 40px;
    width: 420px;
    max-width: 90%;
    border-radius: 20px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
}

.auth-card input {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #334155;
    background: #0f172a;
    color: white;
}

.header .login-btn {
    display: none;
}

.auth-card h2 {
    text-align: center;
    margin-bottom: 10px;
}

.auth-card p {
    text-align: center;
    color: #94a3b8;
    margin-bottom: 10px;
    margin-top: 20px;
}

.auth-card label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}

.auth-card button {
    margin-top: 20px;
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 30px;
    background: #6366f1;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.auth-card span {
    color: #60a5fa;
    cursor: pointer;
}