/* =========================
    PERFIL
========================= */

#perfil{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.perfil-card{
    background:#1f2640;
    padding:40px;
    border-radius:20px;
    text-align:center;
    width:300px;
    box-shadow:0 10px 30px rgba(0,0,0,0.3);
}

.perfil-card img{
    width:100px;
    height:100px;
    border-radius:50%;
    margin-bottom:20px;
    border:3px solid #4a6cf7;
}

.perfil-card h2{
    margin:10px 0;
    font-size:22px;
}

.perfil-card p{
    color:#aaa;
    margin-bottom:20px;
}


/* =========================
    BOTÓN PRINCIPAL
========================= */

.main-btn{
    background:#4a6cf7;
    border:none;
    padding:12px 20px;
    border-radius:10px;
    color:white;
    cursor:pointer;
    font-weight:600;
    transition:0.2s;
}

.main-btn:hover{
    background:#3b58d6;
}


/* =========================
    HEADER DEL ESPACIO
========================= */

.space-header{
    padding:20px;
    border-bottom:1px solid rgba(255,255,255,0.1);
}

.space-info{
    display:flex;
    gap:10px;
    align-items:center;
}

.space-icon{
    background:#4a6cf7;
    padding:10px;
    border-radius:10px;
}


/* =========================
    TARJETA DE USUARIO
========================= */

.user-card{
    display:flex;
    align-items:center;
    justify-content:space-between;
    background:#1f2640;
    padding:20px;
    margin:20px;
    border-radius:15px;
}

.user-card img{
    width:60px;
    border-radius:50%;
}


/* =========================
    RANKING
========================= */

.ranking-card{
    background:#1f2640;
    padding:20px;
    margin:20px;
    border-radius:15px;
}

.ranking-user{
    display:flex;
    align-items:center;
    gap:10px;
    margin-top:10px;
}

.ranking-user img{
    width:40px;
    border-radius:50%;
}


/* =========================
    TAREAS
========================= */

.tasks-card{
    background:#1f2640;
    padding:20px;
    margin:20px;
    border-radius:15px;
    text-align:center;
}


/* =========================
    LOGROS
========================= */

.logros-card{
    background:#1f2640;
    padding:20px;
    margin:20px;
    text-align: center;
    border-radius:15px;
}

.logros-grid{
    display:grid;
    grid-template-columns:repeat(3, minmax(0,1fr));
    gap:10px;
    margin-top:10px;
}

.logro{
    background:#2a3154;
    padding:15px;
    border-radius:10px;
    font-size:14px;

    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:8px;

    text-align:center;
}

.icono{
    font-size:24px;
}
.logro{
    width:100%;
}

.clickable{
    cursor:pointer;
    transition:0.2s;
}

.clickable:hover{
    transform:scale(1.1);
}