<!-- BOTÓN PRIMARIO -->
<ui-button variant="primary" text="Botón"></ui-button>


<!-- BOTÓN SECUNDARIO -->
<ui-button variant="secondary" text="Botón"></ui-button>


<!-- BOTÓN TERCIARIO -->
<ui-button variant="tertiary" text="Botón"></ui-button>


<!-- BOTÓN CON ICONO -->
<ui-button
  variant="primary"
  text="Botón"
  icon-left="icon.png"
  icon-right="icon.png"
  ></ui-button>

<!-- BOTÓN CIRCULAR DARK/LIGHT MODE -->
<ui-button
  circle
  dark-mode
  icon="icon.png"
></ui-button>

<!-- BOTÓN ICONO -->
<ui-button
  icon="icon.png"
></ui-button>