<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Cards</title>

    <!-- GLOBAL -->
    <link rel="stylesheet" href="../../styles/global.css">

    <!-- CARDS CSS -->
    <link rel="stylesheet" href="./cards.css">

</head>


<body>

    <!-- CONTENEDOR APP -->
    <div id="app">

        <!-- CARD USER -->
        <ui-card-user></ui-card-user>

        <!-- CARD PLACE -->
        <ui-card-place></ui-card-place>

    </div>


    <!-- JS -->
    <script type="module" src="./cards.js"></script>

</body>

</html>