
<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Footer</title>

    <!-- GLOBAL -->
    <link rel="stylesheet" href="../../styles/global.css">

    <!-- CARDS CSS -->
    <link rel="stylesheet" href="./footer.css">

</head>
<body>  
    <footer class="footer">
        <div class="container">
            <div class="footer-logo">
                <div class="logo-icon">
                    <i class="fa-solid fa-house"></i>
                </div>
                <span>© TASUKU 2026</span>
            </div>
            
            <p>Hecho con amor para hogares más organizados</p>
        </div>
    </footer>
</body>





